### Trash Files ###
*.iml
.gradle
/local.properties
.idea/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

### Environment Files ###
local.properties

### For Exam ###
*.zip

### Team Docs ###
docs